<section class="app-cinemas-view">
  <div class="header">
    <!--顶部导航-->
    <div class="location">
      上海
    </div>
    <div class="search-movies">
      <span class="flag"><i class="el-icon-search"></i></span>
      <input type="text" name="" class="input-element" placeholder="搜电影O.o">
    </div>
  </div>
  <div class="cinemas-list">
    <div class="cinemas-items" v-for="cinemasData in cinemas">
      <div class="items-left ">
        <p class="first-line"><span class="name">{{ cinemasData.nm }}</span><span class="price">{{ cinemasData.sellPrice }}</span><span class="start-up">元起</span></p>
        <p class="second-line ellipsis"><span class="address">{{ cinemasData.addr }}</span></p>
        <p><span class="sit" v-if="cinemasData.sell">座</span><span class="type">小吃</span></p>
      </div>
      <div class="items-right">
        {{cinemasData.distance}}米
      </div>
    </div>
  </div>
</section>
