<section class="movies-list-view">
  <div class="header">
    <!--顶部导航-->
    <router-link to="/cities-chooser" class="location" tag="div">
      {{location.name}}
    </router-link>
    <div class="category">
      <span class="types active">
        <span class="name">热映</span>
      </span>
      <span class="types">
        待映
      </span>
    </div>
    <div class="search"><i class="el-icon-search"></i></div>
  </div>
  <!--电影列表-->
  <loading-indicator v-if="isLoading"></loading-indicator>
  <div class="movies-list" v-else>
    <router-link tag="div" to="/movies/movie-detail" class="movie-item" v-for="movieItem in movies"
      :key="movieItem.nm">
      <div class="left" @click.stop="playIt">
        <img :src="movieItem.img"/>
        <div class="btn">
          <img src="../../assets/playbtn.png" alt="play btn" class="btnitem">
        </div>
      </div>
      <div class="center">
        <span class="movie-name ellipsis">
          {{movieItem.nm}}
            <span class="movie-tag" v-if="movieItem.imax">
           <!--<b v-if="{{moviItem.3d}}">3D</b>-->
           <b v-if="movieItem.imax">IMAX</b>
            </span>
        </span>
        <span class="movie-type ellipsis">
          {{movieItem.cat}}
        </span>
        <span class="movie-stars ellipsis">
          主演: {{movieItem.star}}
        </span>
        <span class="movie-info ellipsis">
          {{movieItem.showInfo}}
        </span>
      </div>
      <div class="right">
        <span class="score">
          {{movieItem.sc}}分
        </span>
        <span class="tobuy">
          购买
        </span>
      </div>
    </router-link>
  </div>
</section>

