// @import 'vux/src/styles/reset.less';
html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
  background: #a6a6a6;
}
.app-root-view {
  width: 100%;
  flex: 1;
  flex-direction: column;
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 520px;
    margin: 0 auto;
    background: white;
    border: 1px solid #eee;
    box-shadow: 0 0 15px rgba(0,0,0,0.1)
  }
  .navigator {
    background: white;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    font-size: 20px;
    font-weight:400;
    border-top: 1px solid #eee;
    border-top: 1px solid #eee
    // box-shadow: 1px -1px 2px 1px #f4f3f3;
    /*{box-shadow:[投影方式] X轴偏移量 Y轴偏移量阴影模糊半径 阴影扩展半径 阴影颜色}*/
    }
    .navigator p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    .nav-item {
      width: 100px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    span.tab {
      color: #69686d;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      cursor: pointer;
      width: 100px;
    }
    .icon {
      margin-top: 6px;
      width: 20px;
      height: 24px;
      display: block;
      content: "";
      background-image: url(../../assets/movies2.svg);
      background-size: 100% 100%;
      &.cinemas {
        background-image: url(../../assets/cinemas.svg);
      }
      &.me  {
        background-image: url(../../assets/me.svg);
      }
    }
    .router-link-active {
      span.tab {
        color:#df2d2d !important;
      }
      .icon.me {
        background-image: url(../../assets/me2.svg) !important;
      }
      .icon.cinemas {
        background-image: url(../../assets/cinemas2.svg) !important;
      }
      .icon.movies {
        background-image: url(../../assets/movies.svg) !important;
      }
    }
}
