<!-- rootView-->
<section class="app-root-view">
  <div id="app">
    <navbar></navbar>
    <router-view></router-view>
    <div class="navigator" v-show="shouldShow">
      <router-link tag="div" to="/movies" class="nav-item">
        <span class="icon movies"></span>
        <span class="tab">电影</span>
      </router-link>
      <router-link tag="div" to="/cinemas" class="nav-item">
        <span class="icon cinemas "></span>
        <span class="tab">影院</span>
      </router-link>
      <router-link tag="div" to="/profile" class="nav-item">
        <span class="icon me"></span>
        <span class="tab">我的</span>
      </router-link>
    </div>
  </div>
</section>
