<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>O.o Error Page</title>
</head>

<body>
  <div class="art_cont">
<p style="text-align: center;">
  <!--<img src="../public/images/lijian2.jpg" style="width: 435px; height: 435px;">-->
  </p>
<p>
<strong>　　父亲写的散文诗 (Live) - 李健</strong></p>
<p>
<strong>　　原唱：许飞</strong></p>
<p>
　　词：董玉方</p>
<p>
　　曲：许飞</p>
<p>
　　一九八四年 庄稼早已收割完</p>
<p>
　　女儿躺在我怀里 睡得那么甜</p>
<p>
　　今天的露天电影 没时间去看</p>
<p>
　　妻子提醒我 修修缝纫机的踏板</p>
<p>
　　明天我要去 邻居家再借点钱</p>
<p>
　　孩子哭了一整天啊 闹着要吃饼干</p>
<p>
　　蓝色的涤卡上衣 痛往心里钻</p>
<p>
　　蹲在池塘边上 给了自己两拳</p>
<p>
　　这是我父亲 日记里的文字</p>
<p>
　　这是他的青春 留下来的散文诗</p>
<p>
　　几十年后 我看着泪流不止</p>
<p>
　　可我的父亲已经 老得像一个影子</p>
<p>
　　一九九四年 庄稼早已收割完</p>
<p>
　　我的老母亲去年 离开了人间</p>
<p>
　　女儿扎着马尾辫 跑进了校园</p>
<p>
　　可是她最近 有点孤单瘦了一大圈</p>
<p>
　　想一想未来 我老成了一堆旧纸钱</p>
<p>
　　那时的女儿一定 会美得惊艳</p>
<p>
　　有个爱她的男人 要娶她回家</p>
<p>
　　可想到这些 我却不忍看她一眼</p>
<p>
　　这是我父亲 日记里的文字</p>
<p>
　　这是他的生命 留下</p>
<p>
　　留下来的散文诗</p>
<p>
　　几十年后 我看着泪流不止</p>
<p>
　　可我的父亲已经老得像一张旧报纸</p>
<p>
　　旧报纸</p>
<p>
　　那上面的故事 就是一辈子</p>
<p style="text-align: center;">
  <strong>
    <!--<img src="../public/images/lijian1.jpg" style="width: 330px; height: 500px;">-->
  </strong></p>
</div>
</body>

</html>
