<section class="city-chooser-view">
  <div class="location">
    <div class="caption">
      热门城市
    </div>
    <div class="location-city">
      上海
    </div>
  </div>
  <div class="reccent-city">
    <div class="caption">
      最近访问的城市
    </div>
    <span class="reccent-item">上海</span>
    <span class="reccent-item">阿拉善盟</span>
  </div>
  <div class="hot-city">
    <div class="caption">
      热门城市
    </div>
    <span class="hot-item">上海</span>
    <span class="hot-item">阿拉善盟</span>
  </div>
  <div class="all-city">
    <div class="item">
      <div class="caption">
        <div class="city-item">
          上海
        </div>
      </div>
    </div>
  </div>
</section>
