<section class="city-chooser-view">
  <loading-indicator v-if="isLoading"></loading-indicator>
  <div class="out" v-else>
    <div class="location city-block">
      <div class="caption">
        当前城市
      </div>
      <div class="location-item city-item pointer" @click="select(location)">
        {{location.name}}
      </div>
    </div>
    <div class="reccent-city">
      <div class="caption">
        最近访问的城市
      </div>
      <div class="wrap city-block">
        <span class="reccent-item city-item ellicaps pointer">上海</span>
      </div>
    </div>
    <div class="hot-city">
      <div class="hot-item">
        <div class="caption">
          热门城市
        </div>
        <div class="wrap city-block">
          <span class="city-item ellicaps pointer" v-for="item in hotcities"
            @click="select(item)">{{item.name}}</span>
        </div>
      </div>
    </div>
    <div class="all-city">
      <div class="wrap-wrap">
        <div class="item pointer" v-for="caption in captionCity">
          <div class="caption">
          {{caption}}
          </div>
          <div class="ellicaps">
            <div class="all-city-item all-city-item" v-for="item in allCities[caption]"
              @click="select(item)">
              {{item.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
