<section class="movie-detail">
  <loading-indicator v-if="isLoading"></loading-indicator>
  <div class="nav" v-else>
    <div class="header">
      <div class="top">
        <div class="pic">
          银河护卫队2
        </div>
        <div class="info">
          <span class="name">银河护卫队2</span>
          <span class="eng-name">yinhehuweidui</span>
          <div class="score">
            <div class="people">观众评分</div>
            <div class="profestional">专业评分</div>
          </div>
          <div class="type">动作,冒险,科幻</div>
          <div class="country">美国/130分钟</div>
          <div class="date">2017-5-8 上映</div>
        </div>
      </div>
      <div class="bot">
        <span class="left">想看</span>
        <span class="right">评分</span>
      </div>
    </div>
    <div class="movie-introduce">
      <span class="wrap">
        这是一部继银河护卫队1之后的第二部的漫威超级大片，是一群样貌奇特的人们进行一场银河保卫战，值得一看，3D效果还真不是盖得，帮帮哒。
      </span>
    </div>
    <div class="actors">
      <div class="actor-item">
        <span class="pic">
          阿米尔汗
        </span>
        <span class="actor-name">
          阿米尔汗
        </span>
      </div>
    </div>
    <div class="movie-total">
      <h2>票房</h2>
      <div class="yestertoday">
        <span class="score">1</span>
        <span class="tit">昨日票房排行</span>
      </div>
      <div class="first-week-money">
        <span class="score">1000</span>
        <span class="tit">首周票房(万)</span>
      </div>
      <div class="total-money">
        <span class="score">42272</span>
        <span class="tit">累计票房(万)</span>
      </div>
    </div>
    <div class="movie-snippet">
      <h2 class="tit">视频和剧照</h2>
      <div class="item">视频</div>
      <div class="item">剧照</div>
    </div>
    <div class="people-moments">
      <h2 class="tit">观众评论</h2>
      <div class="moment-item">
        <div class="left">
          用户头像
        </div>
        <div class="right">
          <div class="name">用户名</div>
          <div class="comment">这里是用户的评论</div>
          <div class="bottom"><span class="date">评论时间</span><span class="agree">点赞人数</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="buyIt" style="width:100%; height: 40px;color: red">
    优惠购票
  </div>
</section>
