<section class="movie-detail">
  <loading-indicator v-if="isLoading"></loading-indicator>
  <div class="nav" v-else>
    <div class="header">
      <div class="top">
        <div class="pic">
          银河护卫队2
        </div>
        <div class="info">
          <span class="name">银河护卫队2</span>
          <span class="eng-name">yinhehuweidui</span>
          <div class="score">
            <div class="people">观众评分</div>
            <div class="profestional">专业评分</div>
          </div>
          <div class="type">动作,冒险,科幻</div>
          <div class="country">美国/130分钟</div>
          <div class="date">2017-5-8 上映</div>
        </div>
      </div>
      <div class="bot">
        <span class="left">想看</span>
        <span class="right">评分</span>
      </div>
    </div>
    <div class="movie-introduce">
      <span class="wrap">
        这是一部继银河护卫队1之后的第二部的漫威超级大片，是一群样貌奇特的人们进行一场银河保卫战，值得一看，3D效果还真不是盖得，帮帮哒。
      </span>
    </div>
  </div>
</section>
