<section class="movie-play-detail">
  <div class="player">
    <d-player ref="player" :video="video"></d-player>
    <div class="info">
      <div class="left">
        <span class="name">你的名字<span class="score">9.3分</span></span>
        <span class="date">2016-11-13号上映</span>
      </div>
      <div class="right">
        <span class="buy">购买</span>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="item" v-for="item in videos" @click="playIt(item)">
      <div class="left">
        <img :src="item.pic">
      </div>
      <div class="right">
        <span class="name">
          你的名字
        </span>
        <span class="msg">
          观看次数： 3000万次
        </span>
      </div>
    </div>
  </div>
</section>
