<section class="movie-play-detail">
  <div class="player">
    <d-player ref="player" :video="video"></d-player>
    <div class="info">
      <div class="left">
        <span class="name">{{video.name}}<span class="score">9.3分</span></span>
        <span class="date">{{video.msg}}</span>
      </div>
      <div class="right">
        <span class="buy">购买</span>
      </div>
    </div>
  </div>
  <loading-indicator v-if="isLoading"></loading-indicator>
  <div class="list" v-else>
    <div class="item" v-for="item in videos" @click="playIt(item)">
      <div class="left">
        <img :src="item.post">
      </div>
      <div class="right">
        <span class="name">
          {{item.name}}
        </span>
        <span class="msg">
          {{item.msg}}
        </span>
      </div>
    </div>
  </div>
</section>
