.app-profile-view {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  $font-small-size: 12px;
  $font-middle-size: 16px;
  $main-color: #df2d2d;
  $gray: #666;
  $score-color: #ff9a00;
  $blue: #2895db;

  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: $font-middle-size;
  .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .header {
    width: 100%;
    height: 120px;
    padding: 10px 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    .name {
      margin-top: 10px;
    }
  }
  .my-info {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
  }
  .my-movies {
    background: #fff;
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
  }
  div .border-none {
    border: none;
  }
  .row {
    height: 40px;
    margin: 0 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    & .left {
      color: #808080;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start
    }
    & .right {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
    }
    i {
      color: #eeeeee;
      width: 14px;
      height:14px;
    }
  }
  .footer {
    width: 100%;
    position: absolute;
    bottom: 80px;
    display: flex;
    font-size: $font-small-size;
    justify-content: center;
    align-items: center;
    & .span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & .phone {
      text-decoration: underline;
      color: #f7b91a;
    }
}
