<section class="app-profile-view">
  <div class="header">
    <div class="avatar">
      <img src="../../assets/userme.jpg" alt="">
    </div>
    <div class="name">
      CatEyesMovies
    </div>
  </div>
  <div class="my-info">
    <router-link tag="div" to="/movies" class="row">
      <span class="left">我的订单</span>
      <span class="right"><i class="el-icon-arrow-right"></i></span>
    </router-link>
    <router-link tag="div" to="/movies" class="row">
      <span class="left">优惠券</span>
      <span class="right"><i class="el-icon-arrow-right"></i></span>
    </router-link>
    <router-link tag="div" to="/movies" class="row border-none">
      <span class="left">影院会员卡</span>
      <span class="right"><i class="el-icon-arrow-right"></i></span>
    </router-link>
  </div>
  <div class="my-movies">
    <router-link tag="div" to="/movies" class="row">
      <span class="left">想看的电影</span>
      <span class="right"><i class="el-icon-arrow-right"></i></span>
    </router-link>
    <router-link tag="div" to="/movies" class="row border-none">
      <span class="left">看过的电影</span>
      <span class="right"><i class="el-icon-arrow-right"></i></span>
    </router-link>
  </div>
  <div class="footer"><span>&copy;猫眼电影客服电话</span><span>客服电话；</span><span class="phone">1010-5335</span></div>
</section>

